# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/
env.bak/

# Docker
Dockerfile
docker-compose.yml
Dockerfile.*
*.log
docker-compose.override.yml


# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Node.js
node_modules/

# Logs
*.log
*.out
*.err

# Env files
.env

# macOS-specific
.DS_Store

# Images
*.png.DS_Store

# Volumes
grafana_data/
postgres_data/
prometheus_data/

# VSCode/IDE
.vscode/
.idea/
*.backup